.blog-card{
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 10px;
}

.posts-title{
  font-size: 20px;
  font-weight: bold;
}

.posts-description{
  font-size: 18px;   
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.blog-title-container{
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.blog-title{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  align-items: center;
}

.nav-list{
  display: flex;
  gap: 20px;
  list-style: none;
  cursor: pointer;
}

.create-container{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
}

form input{
  width: 50%;
}

.description-input{
  padding: 20px 0;
}

.home-container{

  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.blog-routes{
  display: flex;
  flex-direction: column;
  gap: 20px;
}