.blog-card{
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 10px;
}

.posts-title{
  font-size: 20px;
  font-weight: bold;
}

.posts-description{
  font-size: 18px;   
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.blog-title-container{
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.blog-title{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  align-items: center;
}

.nav-list{
  display: flex;
  gap: 20px;
  list-style: none;
}